* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* -----------------------------------------------HEADER */

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

ul li a {
  font-weight: 600;
}

header ul li a:hover,
ul li a:active {
  border-bottom: 4px solid #0c7cec;
}

/* -----------------------------------------------MAIN */

main {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
}

main h1 {
  padding: 100px 0;
}

main .cta {
  background-color: #0c7cec;
  padding: 50px 0;
}

main ul {
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

main ul li a {
  color: white;
  font-weight: 100;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cta-img {
  max-width: 30px;
}

/* -----------------------------------------------FOOTER */

footer {
  background-image: url('./public/img/footer-bg.jpg');
}

footer ul {
  display: block;
  color: white;
  margin: 50px 0;
}

footer ul li a {
  color: lightgray;
  font-size: 14px;
  font-weight: 100;
}

footer .container {
  display: flex;
  gap: 20px;
}

.list-title {
  margin: 10px 0;
}

.footer-cta {
  background-color: #1c1c1c;
  padding: 30px 0;
}

.footer-cta .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-cta .container a {
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: 2px solid #0c7cec;
}

.social {
  display: flex;
  gap: 20px;
  color: #0c7cec;
  align-items: center;
}